<div class="main-container">
  <div class="container d-flex">
    <div class="branding">
      <img src="../assets/XTZ Logo Main.png" alt="">
    </div>
    <div class="content">
      <h1><b>Esports Media House.</b></h1>
      <p><b>XTZ eSports</b> is a esport media house that focus on making esports mainstream in india. <b>XTZ eSports</b> is more than just a collection of teams, <b>XTZ eSports</b> is a portal into the complete world of eSports. <b>XTZ eSports</b> reaches the gamer market in a unique way, through the teams, and communities they love.</p>
      <br>
      <p><b>XTZ eSports also owns the team Particle 7.</b></p>
    </div>
  </div>
</div>